  body {
    font-family: arial;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gainsboro;
}
h2{ 
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 8px;
}
p{
    margin-top: 0px;
    font-size: 32px;
    color: gray;
}
.flex{
    text-align: center;

}
.container{
    text-align: center;
    max-width: 600px;
    width: 100%;
    height: 300px;
    padding: 40px;
    border: solid 1px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    background: #f0f2f5;

}
form{
    border-radius: 8px;
    font-size: 15px;
}
input[type="text"],
input[type=password] {
    margin-bottom: 5px;
    width: 87%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}
button:hover{
    background-color: #166fe5;
}
.form-group{
    margin-block: 20px;
}

